<div class="root-container">
  <div class="left-side">
    <img src="../assets/images/me.jpg" />

    <div class="break">
      <p>SITES</p>
      <hr />
    </div>
    <ul class="sites">
      <li><a href="">GitHub</a></li>
      <li><a href="">Linkedin</a></li>
      <li><a href="">Twitter</a></li>
    </ul>

    <div class="break">
      <p>SKILLS</p>
      <hr />
    </div>
    <ul class="skills">
      <li>Problem-solving</li>
      <li>Web Development</li>
      <li>iOS Development</li>
      <li>Product Management</li>
    </ul>
  </div>

  <div class="right-side">
    <div class="header">
      <h2 class="name">Safwan Saigh</h2>
      <caption class="location">
        Jeddah
      </caption>
    </div>
    <p>Web Developer</p>
    <button class="btn btn-primary">Edit Profile</button>

    <ul [ngSwitch]="navMode" class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
    </ul>
  </div>
</div>
