.root-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 3rem 4rem;
}

.left-side {
  width: 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.left-side img {
  width: 100%;
  height: auto;
}

.break {
  display: flex;
  margin-top: 2rem;
  color: gray;
  justify-items: center;
  justify-content: center;
}

.break p {
  font-size: 12px;
  margin-top: 4px;
  margin-right: 10px;
}

.break hr {
  border: 0.2px solid lightgray;
  width: 100%;
}

.sites,
.skills {
  list-style: none;
  padding-left: 0rem;
}

.sites li,
.skills li {
  padding: 0.5rem;
}

.skills li {
  font-size: 13px;
}

.left-side ul li a {
  color: black;
}

.right-side {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
}

.name {
  margin-right: 2rem;
}

.right-side p {
  font-size: 15px;
  color: rgb(44, 132, 248);
}

.btn {
  width: 20%;
  margin-top: 1rem;
}

.nav {
  margin-top: 2.5rem;
}
